<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918004869613-15aqisitn7dkib3rjmti0a4r27pgu6rc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918004869613-15aqisitn7dkib3rjmti0a4r27pgu6rc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>918004869613-pkopivkc7crioahiv7tigt2getlvg028.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGljyzfatS8dCNcnx1F-1ohP1znpHXU6c</string>
	<key>GCM_SENDER_ID</key>
	<string>918004869613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arkayapps.sigmahelpdesk</string>
	<key>PROJECT_ID</key>
	<string>sigmahelpdesk-32f5a</string>
	<key>STORAGE_BUCKET</key>
	<string>sigmahelpdesk-32f5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918004869613:ios:1c7ca4d41b0a8d8a38dfe4</string>
</dict>
</plist>